<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<div class="about container-fluid" id="about"  >
    <h1 >About</h1>
    <p>Join Hoppers in celebrating International Women's Day on Saturday the 18th of March 2023!
    This year our focus is gender minorities’ experiences in Informatics and how we can make
    the field a more inclusive and welcoming space.
    </p>
    <p>Our event will feature a speech from Jane Hillston, a panel discussion, and interactive workshops
         from our sponsors covering a range of topics including imposter syndrome and the environmental
          effects of the tech industry. You'll have the opportunity to network with like-minded individuals
           and learn from the experiences of others.
    </p>
    <p>Our speakers will discuss the challenges they have faced and how they overcame them, as well as 
        share valuable insights on how you can achieve your own goals and make a positive impact in our
         community.
    </p>
    <p>The event will take place at the Informatics Forum, and we will be providing refreshments throughout
         the day. We welcome gender minorities of all ages, backgrounds, and experience levels to attend.
          Register now to reserve your spot!
    </p>
</div>
