<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<div class="about container-fluid" id="about"  >
    <h1 >About</h1>
    <p>This year Hoppers will be running an event for International Women's Day on the 18th of March<br><br>
        The <a href="https://edinburghhoppers.com" target="_blank">Edinburgh Hoppers</a> is the official society for gender 
        minorities in the School of Informatics at the University of
         Edinburgh. The objective of the society is to provide a 
         safe space for students of gender minorities to network and 
         enhance their skills. <br><br>
        </p>
</div>
