{% assign faq = site.data.faq %}

<div id = "faq" class="faq  container-fluid">
    <h1>Frequently asked questions</h1>
    <div class="wrapper">
        {% for pair in faq %}
        <div class="qanda container">
            <h4>Q: {{ pair.Q }}</h4>
            <h5>A: {{ pair.A }}</h5>
        </div>
        {% endfor %}

        <div class="qanda container">
            <h4>Couldn't find an answer to your questions? Please contact us on <a href="mailto:edinburghhoppers@gmail.com " target="_blank">edinburghhoppers@gmail.com</a> to find out more!</h4>

            <h5>This hackathon is run in accordance to MLH's <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">Code of Conduct.</a></h5>
            <h5>Here's a link to our Privacy Policy: <a href=https://docs.google.com/document/d/e/2PACX-1vRrL_lUd2H3yWSkdJgk2mYtdJggG0C6g8P3L-EFd2OhIvIiHNPs1qzUEH7vLF8RmYCsos466z9-7-HY/pub>Privacy Policy</a></h5>
        </div>
    </div>
</div>
