


<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<section id="footer">
	<div class="footer">
        <footer>
            <div class="social">
                <a href="https://www.instagram.com/edinburghuniversityhoppers/"><i class="icon ion-social-instagram"></i></a>
                <a href="https://www.facebook.com/edinburghhopppers"><i class="icon ion-social-facebook"></i></a>
                <a href="mailto:edinburghhoppers@gmail.com "><i class="icon ion-email"></i></a>
                <a href="https://www.youtube.com/channel/UC8kHxhiU2BHaKPQThGRtFfQ"><i class="icon ion-social-youtube"></i></a>
                <a href="https://edinburghhoppers.com"><i class="icon ion-android-globe"></i></a>
    
            </div>
            <p class="copyright">Made with &#9825 by Mabel Wylie</p>
        </footer>
    </div>
</section>

{% include scripts.html %}
