<div id="location" class="location  container-fluid">

        <div class="wrapper">

    
        <h1>Where to find us</h1>

        <div class="map">

            <iframe class="float-left" style="border:0" loading="lazy"  allowfullscreen=""
             src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2234.2646979982715!2d-3.189470684767592!3d55.944783984637176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c783808f4dfd%3A0xb8b2415ee37c6dd4!2sInformatics%20Forum%2C%20The%20University%20of%20Edinburgh!5e0!3m2!1sen!2suk!4v1664142779868!5m2!1sen!2suk" ></iframe>
        </div>

    
        <div class="directions">

                <p>This year, we'll be at the Informatics Forum, located in the Central Area campus of the University of Edinburgh.</p>
        
                <p> Address: 10 Crichton Street, Edinburgh, EH8 9AB
              
        </div>

        <br clear="left">
        
        </div>
    
</div>