<div id="speakers" class="speakers  container-fluid">

    <div class="wrapper">
    
    <h1>Speakers</h1>
    
    <p>Watch our panel of speakers discuss topics related to Gender Minorities experiences in Informatics</p>

    <br>
    Speakers
    <ul>
        <li>Kate Ho: Hoppers Founder</li>
        <li>Stuart Anderson: Deputy Head of Informatics</li>
        <li>Laurie Burchell: Staff Pride Network</li>
        <li>Liita Cairney: Entrepreneurship Trainer</li>
        <li>Nicole Meng: PhD Student in Usable Security and Privacy</li>
    </ul>
    
    </div>

</div>