---
---
<!DOCTYPE html>
<html>
  <head>
  {% include head.html %}
  </head>
  <body>
  {% include nav.html %}

  <div class="">
    <div class="hero-section">
      <div class="background-wrapper">
        <img src="{{ '/assets/img/hoppers-logo-purple-circle.png' | relative_url }}">
        <div class="text-wrapper">
          <h1 class="mb-3 text-center">
              {{ page.title }}
          </h1>

          {% if page.subtitle %}
            <h2 class="text-center mb-3">{{ page.subtitle }}</h2>
          {% endif %}

          <h4 class="text-center mb-3">Open to all genders!</h2>
<div class="reg-buttons">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSe8T93S9NZL3FTp7w53A2tuS0wTjf4_vIemjW0QdEkRoTVrVw/viewform" target="_blank">Register now</a>
</div>
      </div>
    </div>
  </div>
        {{ content }}
  </div>

  {% include footer.html %}
  </body>
</html>
